{
    "printWidth": 140,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}
